@CHARSET "UTF-8";
body {
    margin: auto;
    color: black;
    padding: 20px;
}

.parameter {
    border-bottom-style: solid !important; 
    border-bottom-width: 3px  !important ;
    border-bottom-color: black  !important;
}

th,td {
    text-align: center;
    border-right-style: solid;
    border-right-color: white;
    border-right-width:1px;
}

.info{
    width:70% !important;
}

a {
    color: #31bc86;
    text-decoration: none;
}
.controls{
    position:fixed;
    width:25%;
    left: 70%;
    top:20px
}
a:hover,
a:focus {
    color: #7c8d87;
}