@CHARSET "UTF-8";
body {
    font: normal 14px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: black;
    background: #f8f8f8;
}

.parameter {
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: black;
}

th {
    text-align: center;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 6px 6px 6px 6px;
    background-color: white;
    line-height: 1.5em;
}

td {
    text-align: center;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 6px 6px 6px 6px;
    border-right: 1px solid grey;
    line-height: 1.5em;
}

a {
    color: #31bc86;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #7c8d87;
}